/* Apply background color to the entire page */
html, body {
    background-color: #f0f0f5; 
    margin: 0; 
    padding: 0; 
    height: 100%; 
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif; 
  }
  
  /* Center the h1 title */
  h1 {
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  /* Center the h2 title */
  h2 {
    text-align: center;
    padding: 8px;
    margin-bottom: 15px;
  }

  .visualization {
    width: 100%; /* Adjust this width as needed */
    max-width: 1200px; /* Optional: Set a maximum width */
    margin: 0 auto; /* Center horizontally */
    text-align: center; /* Center text within the div if needed */
    background-color: #f0f0f5; /* Optional: Background color for the visualization area */
    padding: 20px; 
  }
  

  